{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5">
            <!-- <h3>{% trans "Sign Out" %}</h3> -->
            <h4>{% trans 'Are you sure you want to log out?' %}</h4>
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button type="submit"class="btn btn-success btn-lg mb-1" >{% trans 'Log Out' %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}