{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="recipe mt-3 p-1">
        <div class="recipe-img">
            <!-- Check if image exists, and only try to use its URL if it's not None -->
            {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.image_alt }}" class="recipe-pic">
            {% else %}
            <!-- Fallback to a default image if no image is available -->
            <img src="{% static 'images/file.jpg' %}" alt="No image available" class="scale">
            {% endif %}
        </div>
        <div class="recipe-detail">
            <h1 class="text-center">{{ recipe.title }}</h1>
            <p class="text-center">Posted by {{recipe.user}} on {{recipe.posted_on}}</p>
            <hr>
            
            {% if request.user == recipe.user %}
            <div class="text-center">
                <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-primary w-25">Edit</a>
                <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-primary w-25">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="recipe-container">
        <div class="ingredients p-3">
            <h2>Ingredients</h2>
            <p>{{ recipe.ingredients|safe }}</p>
        </div>
        <div class="description p-3">
            <h2>Details</h2>
            <p>{{ recipe.description|safe }}</p>
        </div>
    </div>
</div>

<!-- creating New comments -->
<div class="container">
    <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="commentForm" method="post" style=" margin-top: 1.3em;" placeholder="Leave you comment here!">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit" class="btn-success btn-lg mb-1">Submit</button>
        </form>
        {% else %}
        <p>Log in to leave a comment</p>
        {% endif %}
    </div>
</div>
<!-- Displaying comments  -->
<div class="container">
    <div class="col-12">
        <strong class="text-secondary">
            <i class="far fa-comments"></i> {{ comment_count }}
        </strong>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>
<!-- Displaying Comments -->
<div class="container">
    <div class="card-body ">
        <h3>Comments:</h3>
        <div class="card-body">
            {% for comment in comments %}
            <div class="p-2 comments {% if not comment.approved and comment.author == user %}
            faded{% elif not comment.approved %} d-none{% endif %}">
                <p class="font-weight-bold">
                    {{ comment.author }}
                    <span class="font-weight-normal">
                        {{ comment.created_on }}
                    </span>
                </p>
                <div id="comment{{ comment.id }}">
                    {{ comment.body | linebreaks}}                    
                </div>
                {% if not comment.approved and comment.author == user %}
                <p class="approval">
                    This comment is awaiting approval
                </p>
                {% endif %}
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
