{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="card-deck recipe-info ">
        <div class="card recipe-img ">
            <img src="{{recipe.image.url}}" alt="{{recipe.image_alt }}" class="card-img-top">
        </div>
        <div class="recipe-detail ">
            <h1 class="card-title">{{recipe.title}}</h1>
            <p class="card-text">Posted by {{recipe.user}} on {{recipe.posted_on}}</p>
            
            {% if request.user == recipe.user %}
            <div>
                <a href="" class="btn-success btn-lg mb-1">Edit</a>
                <a href="" class="btn-success btn-lg mb-1">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="recipe-box">
        <div>
            <h2>Ingredients</h2>
            <p>{{recipe.ingredients|safe}}</p>
        </div>
        <div>

        </div class="description">
        <h2>Details</h2>
        <p>{{recipe.description|safe}}</p>
    </div>
</div>

{% endblock %}