{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 class="text-center">Select recipes for your weekly meals:</h2>
<br>
<div class="container justify-content-center flex-row">
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                {% if recipe.image %}
                <a href="{% url 'recipe_detail' recipe.id %}"><img src="{{ recipe.image.url }}" class="card-img-top"
                        alt="{{ recipe.image_alt }}">
                    {% else %}
                    <img src="{% static 'default-image.jpg' %}" class="card-img-top" alt="Default image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.title}}</h5>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>

{% endblock %}