{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <h2 class="text-center m-5">Pick some recipes or your week ahead:</h2>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card card-img-top">
                <a href="{% url 'recipe_detail' recipe.id %}" class="recipes card-img-top" aria-label="Click to view {{recipe.title}}">
                    <div class="card-img-wrapper">
                    {% if recipe.image %}
                    <img src="{{recipe.image.url}}" alt="{{recipe.image_alt}}" class="card-img-top">
                    {% else %}
                    <img src="{{recipe.image.url}}" alt="" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.title}}</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>


{% endblock %}