{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container">
    <div class="recipe-info ">
        <div class="card recipe-img">
            <!-- Check if image exists, and only try to use its URL if it's not None -->
            {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.image_alt }}" class="scale">
            {% else %}
            <!-- Fallback to a default image if no image is available -->
            <img src="{% static 'images/file.jpg' %}" alt="No image available" class="scale">
            {% endif %}
        </div>
        
        <div class="recipe-detail ">
            <h1 class="card-title">{{recipe.title}}</h1>
            <p class="card-text">Posted by {{recipe.user}} on {{recipe.posted_on}}</p>

            {% if request.user == recipe.user %}
            <div>
                <a href="" class="btn-success btn-lg mb-1">Edit</a>
                <a href="" class="btn-success btn-lg mb-1">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="recipe-box">
        <div>
            <h2>Ingredients</h2>
            <p>{{recipe.ingredients|safe}}</p>
        </div>
        

        <div class="description">
        <h2>Details</h2>
        <p>{{recipe.description|safe}}</p>
    </div>
</div>
</div>

{% endblock %}