{% load static %}

<footer>
<!-- social media -->
<a href="" target="_blank"><img src="{% static 'images/social/twitter.webp' %}" alt="Twitter Icon" class="social"></a>

<a href="" target="_blank"><img src="{% static 'images/social/instagram.webp' %}" alt="Instagram Icon" class="social"></a>

<a href="" target="_blank"><img src="{% static 'images/social/linkedin.webp' %}" alt="LinkeIn Icon" class="social"></a>

<a href="" target="_blank"><img src="{% static 'images/social/github.webp' %}" alt="GitHub Icon" class="social"></a>

</footer>