{% load static %}

<footer>
<!-- social media -->
<a href="" target="_blank"><img src="{% static 'images/icons/twitter' %}" alt="Twitter Icon" class="social"></a>

<a href="" target="_blank"><img src="{% static 'images/icons/instagram' %}" alt="Instagram Icon" class="social"></a>

<a href="" target="_blank"><img src="{% static 'images/icons/linkedin' %}" alt="LinkeIn Icon" class="social"></a>

<a href="" target="_blank"><img src="{% static 'images/icons/github' %}" alt="GitHub Icon" class="social"></a>

</footer>